body{
    background-color: salmon !important;
}



a{
    font-size: 50px;
}

.dietRestrictions{
    padding-top: 15px;
}

.checkbox{
    padding-top: 15px;
    height: 20px;
    width: 20px;
}

.recipe-section{
    background-color: salmon;
    border: blueviolet;
}

.current-temp{
    font-size: 42px;
}

.tile{
    padding: 10px 10px;
    background-color: salmon;
}

ol{
margin: auto;
padding: 25px 25px;
}
.navbar-menu{
    height: 75px;

}

.hero-body{
    padding-top: 75px;


}