body{
    background-color: #deff26;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f5c311'/%3E%3Cstop offset='1' stop-color='%23f5c311' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aac2a0'/%3E%3Cstop offset='1' stop-color='%23aac2a0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c38589'/%3E%3Cstop offset='1' stop-color='%23c38589' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23deff26'/%3E%3Cstop offset='1' stop-color='%23deff26' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23008bee'/%3E%3Cstop offset='1' stop-color='%23008bee' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

h1.title{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

h2{
    text-align: center;
    color: #209cee;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
p.title{
    font-family: 'Bebas Neue', sans-serif;
}

.current-temp{
    font-size: 42px;
}

.cards{
    background-color: rgba(255, 255, 255, 0.87);
    color: white;
}

.cards:hover{
    background: rgb(165, 165, 165);
    cursor: pointer;
}

.button{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
}
.logo {
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin-top: -55px; */
}

.button:hover{
    background:#FF8000;
    color: white;
}

.tile{
    padding: 10px 10px;
}


ol{
margin: auto;
padding: 25px 25px;
}

.navbar-menu{
    background-color: #deff26;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f5c311'/%3E%3Cstop offset='1' stop-color='%23f5c311' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aac2a0'/%3E%3Cstop offset='1' stop-color='%23aac2a0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c38589'/%3E%3Cstop offset='1' stop-color='%23c38589' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23deff26'/%3E%3Cstop offset='1' stop-color='%23deff26' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23008bee'/%3E%3Cstop offset='1' stop-color='%23008bee' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: cover;
    height: 50px;
    justify-content: space-between;
}
.cooktime{
    color: black;
}
.currentTemp{
    color: white;
}

.currentCity{
    color: white;

}
.hero-body{
    padding-top: 50px;
    align-items: center;
}

.footer {
    background:none;
    height: 250px;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}